*.json

!.devcontainer/*.json

!frontend/package.json
!frontend/package-lock.json
!frontend/tsconfig.json
!frontend/tsconfig.node.json

.DS_Store
__pycache__/
*.py[cod]
*.log

frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo

frontend/vite.config.js
frontend/vite.config.d.ts
