*.json
.env*

!.devcontainer/*.json

!package.json
!vercel.json

!frontend/package.json
!frontend/package-lock.json
!frontend/tsconfig.json
!frontend/tsconfig.node.json

.DS_Store
**pycache**/
*.py[cod]
*.log
.env
.env.*
!.env.example
env.vercel

frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo

frontend/vite.config.js
frontend/vite.config.d.ts

.vercel
