rapidfuzz>=3.0.0
pandas>=2.3.2
numpy>=2.3.3
plotly>=6.3.0
folium>=0.20.0
streamlit-folium>=0.25.1
telethon>=1.41.2
rapidfuzz>=3.14.1
python-Levenshtein>=0.27.1
scikit-learn>=1.7.2
pytz<=2025.2
nest_asyncio>=1.5.8
openpyxl>=3.1.2
google-auth==2.17.3
gspread==5.9.0
matplotlib
seaborn
altair<5
